.room__image, .room__video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	will-change: transform;
  	transition: 1s opacity;
	@include set-blur( 0px );
}
.room__container::before {
	background-size: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	content: "";
	z-index: -1;
	@include set-blur( 0px );
}

.room__container__status__available-all-day__title__label1 {
	@include setProperty( 'margin-top', 162 );
	@extend .font-normal-60;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	color: blue;
}

.room__container__status__available-all-day__title__label2 {
	@include setProperty( 'margin-top', 20 );
	@include setProperty( 'margin-bottom', 17 );
	@extend .font-normal-20;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	color: blue;
}
